<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.slsa.shrds"
        version   = "1.0.0">

    <name>SHRDS</name>

    <description>
        SHRDS Application for recording SHR and incerdent report information to be sent to SLSA Web application server
    </description>

    <author href="https://sls.com.au/">
        Macquarie University COMP355 Group 5 project
    </author>
    
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <!-- Define the main entry-point to the application -->
    <content src="index.html" />

    

</widget>
